.nav-link
{
 color:rgb(8, 31, 8);
 font-weight: 600;
 font-family: Arial, Helvetica, sans-serif;
}

.nav-link:hover{
  color: #6dd431;
}

.home
{
  background-image:url(../images/hero-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-logo
{
  
  width: 180px;
  height: 75px;
}
body
{
    font-family: 'Roboto', sans-serif;
  
}
::-webkit-scrollbar {
  display: none;
}


.button {
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    font-size: 16px;
    color: rgb(216, 216, 216);
    border: 2px solid rgb(170, 170, 170);
    border-radius: 20px;
    background-color: transparent;
    font-weight: 500;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color:#f5f4f4;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #000000;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }

  .padding
  {
   padding: 250px 20px; 
  }
  
  .pad
  {
    
    padding-top: 40px;
    margin-bottom: 40px;
    
  }


 .imge
 {
    width: 105px;
 }


.instragram-logo
{
  
  width:46px;
  cursor:pointer;
  
}

.logo
{
  cursor: pointer;
}